.DetailPage {
  display: grid;
  gap: 0.5em;
  padding: 1em;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.stat {
  font-size: 2em;
  width: 3em;
  margin: 0.8em;
}

.stat__completed {
  font-size: 2em;
  width: 3em;
}

.footer__bar {
  width: 100%;
  height: 0.4em;
  background-color: var(--secondary-color);
  margin-bottom: 0.5em;
}
