.container {
  padding: 0.5em;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0;
  height: 4em;
  border: 1px solid var(--main-color);
}

.calendar {
  margin-top: 2em;
  background-color: var(--main-color);
}
