.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.tabs__active {
  background-color: var(--secondary-font-color);
  color: var(--main-font-color);
  padding: 1em;
}

.tabs__inactive {
  background-color: var(--main-color);
  color: var(--main-font-color-inactive);
  padding: 1em;
}
