.colorSelector {
  display: grid;
  gap: 0.5em;
}

.colorSelector h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.colorSelector__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: 0.25em;
  border: 1px solid #707070;
}

.colorSelector__dropdown {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 0;
}

.colorSelector__dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
}

.colorSelector__dots {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
