*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-font: 'SF Pro', sans-serif;

  /* colors */
  --main-font-color: #0d1a75;
  --main-font-color-inactive: rgba(13, 26, 117, 0.45);
  --secondary-font-color: #fff;
  --main-color: #e5e2f3;
  --secondary-color: #f3f1f9;
  --hint-color: #ffbcc6;

  /* button colors */
  --main-color-active: #afa9c9;
  --main-font-color-active: #0b134e;
  --hint-color-active: #cc8a93;
}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font: var(--main-font);
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
