*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-font: 'SF Pro', sans-serif;

  /* colors */
  --main-font-color: #0d1a75;
  --secondary-font-color: #fff;
  --main-color: #e5e2f3;
  --secondary-color: #f3f1f9;
  --hint-color: #ffbcc6;

  /* button colors */
  --backButton-active: #afa9c9;
  --addButton-active: #0b134e;
  --deleteButton-active: #cc8a93;
}
