.addNew {
  background-color: var(--main-font-color);
  color: var(--secondary-font-color);
  padding: 1em 5em;
  border-radius: 0.25em;
}

.addNew:active {
  background-color: var(--main-font-color-active);
}

.about {
  background-color: var(--main-color);
  padding: 0.6em 1em;
  border-radius: 0.25em;
  width: 100%;
  text-align: center;
}

.about:active {
  background-color: var(--main-color-active);
}

.plus {
  background-color: var(--main-font-color);
  padding: 1em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.plus:active {
  background-color: var(--main-font-color-active);
}
