.createPage {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.createPage__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.createPage__inputs {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
