.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  position: relative;
  padding: 1.5em 1em;
}

.footer {
  display: flex;
  background-color: var(--secondary-color);
  height: 8em;
  padding: 1em;
  align-items: flex-end;
}

.habitList {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: 4em;
  padding: 0;
  margin: 0;
  list-style: none;
}
