.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.main {
  position: relative;
  padding: 1.5em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.habitList {
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: 4em;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  min-height: 18em;
  max-width: 30em;
  max-height: 18em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.habitList::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
  background-color: var(--secondary-color);
  height: 6em;
  padding: 1em;
  align-items: flex-end;
}
