.container {
  display: grid;
  justify-items: center;
  margin-bottom: 2em;
}

.day {
  color: var(--main-font-color);
  font-size: 2em;
}

.date {
  color: var(--main-font-color);
  font-size: 5em;
}
